@(countries: List[webapi.Country], returnUrl: Option[String])(implicit messages: Messages)

@main("XYZ-Life") {
<div id="success-container">
    <div id="success-header">
        <p>@Messages("test.login-success-header")</p>
    </div>
    <div id="success-content">
        <p>@Messages("test.login-success-p")</p>
        <a href="">@Messages("test.login-success-login")</a>
    </div>
</div>
}

