/* Welcome to Compass.
  * In this file you should write your main styles. (or centralize your imports)
  * Import this file using the following HTML or equivalent:
  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_login.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/_login.scss */
body {
  background-image: url("/assets/images/login/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-family: arial;
}

/********************************LOGIN START*************************************/
/* line 12, ../sass/_login.scss */
#login-container {
  width: 458px;
  margin: 120px 457px 133px 375px;
  text-align: center;
  box-shadow: 0px 0px 6px #555555;
}
/* line 17, ../sass/_login.scss */
#login-container #login-header {
  width: 458px;
  height: 74px;
  background-color: #2a4788;
  box-shadow: 0px 0px 6px #555555;
}
/* line 22, ../sass/_login.scss */
#login-container #login-header p {
  color: #fff;
  font-size: 25px;
  padding: 26px 132px 24px 127px;
  text-shadow: 1px 1px 0px #55555;
}
/* line 29, ../sass/_login.scss */
#login-container #login-content {
  background-color: rgba(12, 178, 165, 0.7);
  padding-bottom: 47px;
}
/* line 32, ../sass/_login.scss */
#login-container #login-content #login-error {
  padding: 30px 69px 21px 67px;
}
/* line 34, ../sass/_login.scss */
#login-container #login-content #login-error span {
  color: #d20000;
  font-weight: bold;
  font-size: 15px;
}
/* line 40, ../sass/_login.scss */
#login-container #login-content #text-fields {
  width: 458px;
}
/* line 42, ../sass/_login.scss */
#login-container #login-content #text-fields #email-input {
  margin-bottom: 32px;
}
/* line 45, ../sass/_login.scss */
#login-container #login-content #text-fields #password-input {
  margin-bottom: 20px;
}
/* line 48, ../sass/_login.scss */
#login-container #login-content #text-fields input[type=text], #login-container #login-content #text-fields input[type=password] {
  border: solid 1px #e2e2e2;
  box-shadow: inset 1px 1px 5px #E2E2E2;
  width: 222px;
  font-size: 18px;
  color: #535353;
  margin: 0 auto;
  padding: 24px 95px 21px 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 60, ../sass/_login.scss */
#login-container #login-content #text-fields input[type=text]:focus, #login-container #login-content #text-fields input[type=password]:focus {
  border: solid 2pt #2a4788;
  box-shadow: inset 0px 0px 0px #fff;
  outline: none;
}
/* line 66, ../sass/_login.scss */
#login-container #login-content #remember-n-forgot {
  margin-bottom: 24px;
}
/* line 68, ../sass/_login.scss */
#login-container #login-content #remember-n-forgot span {
  color: #fff;
  text-shadow: 1px 1px 1px #666;
  font-weight: bold;
  font-size: 16px;
  margin-right: 33px;
}
/* line 75, ../sass/_login.scss */
#login-container #login-content #remember-n-forgot a {
  font-size: 18px;
  font-weight: bold;
  color: #0cb2a5;
}
/* line 80, ../sass/_login.scss */
#login-container #login-content #remember-n-forgot a:active {
  color: #00ffff;
}
/* line 84, ../sass/_login.scss */
#login-container #login-content hr {
  width: 338px;
  height: 1px;
  border: none;
  background-color: #666;
  margin-left: 62px;
  margin-bottom: 25px;
}
/* line 92, ../sass/_login.scss */
#login-container #login-content button {
  margin: 0 auto;
  width: 320px;
  height: 55px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #2a4788;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 0px #555555;
  font-weight: bold;
  box-shadow: inset 1px 1px 1px #6685C2;
  border-top: solid 1px #001A4C;
  border-left: solid 1px #001A4C;
  border-bottom: solid 2px #001A4C;
  border-right: solid 2px #001A4C;
}
/* line 110, ../sass/_login.scss */
#login-container #login-content button:hover {
  cursor: pointer;
}
/* line 113, ../sass/_login.scss */
#login-container #login-content button:active {
  background-color: #001A4C;
  box-shadow: inset 0px 0px 0px #6685C2;
  outline: none;
}
/* line 118, ../sass/_login.scss */
#login-container #login-content button:focus {
  outline: none;
}

/********************************LOGIN END*************************************/
/* line 124, ../sass/_login.scss */
#footer {
  width: 100%;
  height: 31px;
  text-align: center;
  background-image: url("/assets/images/login/buttom_line.jpg");
}
/* line 129, ../sass/_login.scss */
#footer #language {
  float: left;
  width: 156px;
  height: 31px;
}
/* line 133, ../sass/_login.scss */
#footer #language select {
  font-weight: bold;
  font-size: 14px;
  color: #2a4788;
  text-align: center;
  background: transparent;
  width: 156px;
  padding: 0px 0px 0px 30px;
  border: none;
  height: 31px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/assets/images/login/language_button_normal.png");
}
/* line 148, ../sass/_login.scss */
#footer #language select:active {
  background-image: url("/assets/images/login/language_button_press.png");
}
/* line 151, ../sass/_login.scss */
#footer #language select:hover {
  cursor: pointer;
}
/* line 154, ../sass/_login.scss */
#footer #language select:focus {
  outline: none;
}
/* line 158, ../sass/_login.scss */
#footer p {
  font-weight: bold;
  font-size: 12px;
  color: #000066;
  padding-top: 8px;
}

/* line 1, ../sass/_send-email.scss */
#send-email-container {
  margin: 142px 450px 275px 478px;
  width: 352px;
  height: 327px;
  background-color: rgba(12, 178, 165, 0.7);
  box-shadow: 0px 0px 6px #555555;
}
/* line 7, ../sass/_send-email.scss */
#send-email-container #send-email-content {
  text-align: center;
}
/* line 9, ../sass/_send-email.scss */
#send-email-container #send-email-content p {
  padding: 40px 45px 53px 45px;
  line-height: 30px;
  font-size: 18px;
  color: #098779;
  font-weight: bold;
}
/* line 16, ../sass/_send-email.scss */
#send-email-container #send-email-content input {
  border: solid 1px #e2e2e2;
  box-shadow: inset 1px 1px 5px #E2E2E2;
  width: 274px;
  font-size: 18px;
  color: #535353;
  margin: 0 auto;
  padding: 24px 0px 21px 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 28, ../sass/_send-email.scss */
#send-email-container #send-email-content input:focus {
  border: solid 2pt #2a4788;
  box-shadow: inset 0px 0px 0px #fff;
  outline: none;
}
/* line 34, ../sass/_send-email.scss */
#send-email-container #send-email-buttons {
  width: 352px;
  margin-top: 42px;
}
/* line 37, ../sass/_send-email.scss */
#send-email-container #send-email-buttons button {
  float: left;
  width: 176px;
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  color: #bfecf9;
  text-shadow: 1px 1px 0px #555555;
  box-shadow: inset 1px 1px 1px #6685C2;
  border-top: solid 1px #001A4C;
  border-left: solid 1px #001A4C;
  border-bottom: solid 2px #001A4C;
  border-right: solid 2px #001A4C;
  background-color: #2a4788;
}
/* line 52, ../sass/_send-email.scss */
#send-email-container #send-email-buttons button:hover {
  cursor: pointer;
}
/* line 55, ../sass/_send-email.scss */
#send-email-container #send-email-buttons button:active {
  background-color: #001A4C;
  box-shadow: inset 0px 0px 0px #6685C2;
  outline: none;
}
/* line 60, ../sass/_send-email.scss */
#send-email-container #send-email-buttons button:focus {
  outline: none;
}

/* line 1, ../sass/_reset.scss */
#reset-password-container {
  width: 458px;
  height: 500px;
  margin: 120px 457px 133px 375px;
  text-align: center;
  box-shadow: 0px 0px 6px #555555;
}
/* line 7, ../sass/_reset.scss */
#reset-password-container #reset-password-header {
  width: 458px;
  height: 74px;
  background-color: #2a4788;
}
/* line 12, ../sass/_reset.scss */
#reset-password-container #reset-password-header p {
  color: #fff;
  font-size: 25px;
  padding: 26px 132px 24px 127px;
  text-shadow: 1px 1px 0px #55555;
}
/* line 19, ../sass/_reset.scss */
#reset-password-container #reset-password-content {
  width: 458px;
  background-color: rgba(12, 178, 165, 0.7);
}
/* line 22, ../sass/_reset.scss */
#reset-password-container #reset-password-content #error2 {
  display: none;
}
/* line 25, ../sass/_reset.scss */
#reset-password-container #reset-password-content p {
  padding: 41px 12px 41px 12px;
  font-weight: bold;
  font-size: 18px;
  color: #d20000;
}
/* line 31, ../sass/_reset.scss */
#reset-password-container #reset-password-content span {
  color: #666;
  font-weight: bold;
  font-size: 18px;
}
/* line 36, ../sass/_reset.scss */
#reset-password-container #reset-password-content hr {
  width: 338px;
  height: 1px;
  border: none;
  background-color: #666;
  margin: 15px 0px 25px 62px;
}
/* line 43, ../sass/_reset.scss */
#reset-password-container #reset-password-content input {
  border: solid 1px #e2e2e2;
  box-shadow: inset 1px 1px 5px #E2E2E2;
  width: 222px;
  font-size: 18px;
  color: #535353;
  margin: 0 auto;
  padding: 24px 95px 21px 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 40px;
}
/* line 56, ../sass/_reset.scss */
#reset-password-container #reset-password-content input:focus {
  border: solid 2pt #2a4788;
  box-shadow: inset 0px 0px 0px #fff;
  outline: none;
}
/* line 62, ../sass/_reset.scss */
#reset-password-container #reset-password-content button {
  float: left;
  width: 229px;
  height: 64px;
  font-size: 18px;
  font-weight: bold;
  color: #bfecf9;
  text-shadow: 1px 1px 0px #555555;
  box-shadow: inset 1px 1px 1px #6685C2;
  border-top: solid 1px #001A4C;
  border-left: solid 1px #001A4C;
  border-bottom: solid 2px #001A4C;
  border-right: solid 2px #001A4C;
  background-color: #2a4788;
}
/* line 77, ../sass/_reset.scss */
#reset-password-container #reset-password-content button:hover {
  cursor: pointer;
}
/* line 80, ../sass/_reset.scss */
#reset-password-container #reset-password-content button:active {
  background-color: #001A4C;
  box-shadow: inset 0px 0px 0px #6685C2;
  outline: none;
}
/* line 85, ../sass/_reset.scss */
#reset-password-container #reset-password-content button:focus {
  outline: none;
}

/* line 1, ../sass/_success.scss */
#success-container {
  width: 350px;
  margin: 142px 450px 275px 478px;
  text-align: center;
}
/* line 5, ../sass/_success.scss */
#success-container #success-header {
  height: 74px;
  background-color: #2a4788;
  box-shadow: 0px 0px 6px #555;
}
/* line 9, ../sass/_success.scss */
#success-container #success-header p {
  color: #fff;
  font-size: 25px;
  padding: 26px 0px 24px 0px;
  text-shadow: 1px 1px 0px #55555;
}
/* line 16, ../sass/_success.scss */
#success-container #success-content {
  padding: 20px 40px 20px 40px;
  background-color: rgba(12, 178, 165, 0.8);
  text-align: center;
  box-shadow: 0px 0px 6px #555555;
}
/* line 21, ../sass/_success.scss */
#success-container #success-content p {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 15px;
}
/* line 27, ../sass/_success.scss */
#success-container #success-content a {
  font-size: 24px;
  color: #0A8E84;
}
/* line 31, ../sass/_success.scss */
#success-container #success-content a:focus {
  color: cyan;
}
