/******************** DASHBOARD ********************/
#pagination-container{
	width:100%;
	#pagination-holder{
		width:1024px;
		margin:0 auto;
		height:20px;
		padding:15px 0px 15px 0px;
		background-color:#fff;
		img{
			margin-left:35px;
		}
		#time{
			margin-left:10px;
			color:rgb(42, 71, 136);
			font-size:18px;
		}
	}
	#title-head-container{
		width:100%;
		background-image:url('/assets/images/dashboard/nav_bg.png');
		#title-head{
			width:1024px;
			margin:0 auto;
			padding:6px 0px 6px 0px;
			background-image:url('/assets/images/dashboard/nav_title_bg.png');
			color:#fff;
			font-weight:normal;
			font-size:18px;
			#space2{
				padding-left:20px;
			}
			#space3{
				padding-left:90px;
			}
			#space4{
				padding-left:50px;
			}
			#space5{
				padding-left:70px;
			}
			#space6{
				padding-left:150px;
			}
		}
	}
}
#table-div-id{
	width:100%;
	margin-top:10px;
	.divs{
		width:100%;
		border-bottom:solid 3px #ccc;
		padding: 19px 0px 19px 0px;
		font-size:18px;
		color:#3f3a39;
		div{
			margin:0 auto;
			width:1024px;
			ul li{
				list-style:none;
				display:inline;
				width:172px;
				.table-data1{
					margin:0px 50px 0px 20px;
				}
				.table-data2{
					margin:0px 80px 0px 45px;
				}
				.table-data3{
					margin:0px 80px 0px 30px;
				}
				.table-data4{
					padding:0px 30px 0px 30px;
				}
				.table-data5{
					padding:0px 60px 0px 30px;
				}
				.table-data6{
					padding:0px 0px 0px 12px;

				}
				a{
                	text-decoration:none;
                	color:#098779;
                }
                a:hover{
                	cursor:pointer;
                }
			}
		}
	}
}
/******************** DASHBOARD PAGINATION *********************/
.pagination{
	float:right;
	margin-top:-65px;
	margin-right:100px;
}
.pagination-btn{
	float: left;
	margin-right:65px;
	border:none;
	background-color:#fff;
	height:19px;
	width:20px;
}
.pagination-btn:hover{
	cursor:pointer;
}
.total-page{
	font-size:18px;
	float: left;
	border:none;
	margin-right:65px;
	background-color:#fff;
	padding:3px 6px 3px 6px;
}
.pagenum{
	font-size:18px;
	float: left;
	border:solid 1pt #ccc;
	margin-right:5px;
	background-color:#fff;
	padding:3px 6px 3px 6px;
}
.total-page:active, .total-page:focus, .pagenum:active, .pagenum:focus, .pagination-btn:active{
	outline:none;
}
#slash{
	float:left;
	font-size:28px;
}
.first{
	background-image:url('/assets/images/dashboard/nav_buttons_the_previous.png');
}
.back{
	background-image:url('/assets/images/dashboard/nav_buttons_preious.png');
}
.next{
	background-image:url('/assets/images/dashboard/nav_buttons_next.png');
}
.last{
	background-image:url('/assets/images/dashboard/nav_buttons_the_next_btn.png');
}
