*{
    margin:0;
    padding:0;
}
body{
    background-image:url('/assets/images/login/background.jpg');
    background-size:100% auto;
    background-repeat:no-repeat;
    font-family:arial;
}
/********************************LOGIN START*************************************/
#login-container{
    width:458px;
    margin:120px 457px 133px 375px;
    text-align:center;
    box-shadow:0px 0px 6px #555555;
    #login-header{
        width:458px;
        height:74px;
        background-color:#2a4788;
         box-shadow:0px 0px 6px #555555;
        p{
            color:#fff;
            font-size:25px;
            padding:26px 132px 24px 127px;
            text-shadow:1px 1px 0px #55555;
        }
    }
    #login-content{
        background-color:rgba(12, 178, 165, .70);
        padding-bottom:47px;
        #login-error{
            padding:30px 69px 21px 67px;
            span{
                color:#d20000;
                font-weight:bold;
                font-size:15px;
            }
        }
        #text-fields{
            width:458px;
            #email-input{
                margin-bottom:32px;
            }
            #password-input{
                margin-bottom:20px;
            }
            input[type=text], input[type=password]{
                border:solid 1px #e2e2e2;
                box-shadow:inset 1px 1px 5px #E2E2E2;
                width:222px;
                font-size:18px;
                color:#535353;
                margin:0 auto;
                padding:24px 95px 21px 22px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            input[type=text]:focus, input[type=password]:focus{
                border:solid 2pt rgb(42, 71, 136);
                box-shadow:inset 0px 0px 0px #fff;
                outline:none;
            }
        }
        #remember-n-forgot{
            margin-bottom:24px;
            span{
                color:#fff;
                text-shadow:1px 1px 1px #666;
                font-weight:bold;
                font-size:16px;
                margin-right:33px;
            }
            a{
                font-size:18px;
                font-weight:bold;
                color:#0cb2a5;
            }
            a:active{
                color:#00ffff;
            }
        }
        hr{
            width:338px;
            height:1px;
            border:none;
            background-color:#666;
            margin-left:62px;
            margin-bottom:25px;
        }
        button{
            margin:0 auto;
            width:320px;
            height:55px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color:#2a4788;
            font-size:18px;
            color:#fff;
            text-shadow:1px 1px 0px #555555;
            font-weight:bold;
            box-shadow:inset 1px 1px 1px #6685C2;
            border-top:solid 1px #001A4C;
            border-left:solid 1px #001A4C;
            border-bottom:solid 2px #001A4C;
            border-right:solid 2px #001A4C;
        }
        button:hover{
            cursor:pointer;
        }
        button:active{
            background-color:#001A4C;
            box-shadow:inset 0px 0px 0px #6685C2;
            outline:none;
        }
        button:focus{
             outline:none;
        }
    }
}
/********************************LOGIN END*************************************/
#footer{
    width:100%;
    height:31px;
    text-align:center;
    background-image:url('/assets/images/login/buttom_line.jpg');
    #language{
        float:left;
        width: 156px;
        height: 31px;
        select {
           font-weight:bold;
           font-size:14px;
           color:#2a4788;
           text-align:center;
           background: transparent;
           width: 156px;
           padding:0px 0px 0px 30px;
           border: none;
           height: 31px;
           -webkit-appearance: none;
           -moz-appearance: none;
           appearance: none;
           background-image: url('/assets/images/login/language_button_normal.png');
        }
        select:active{
           background-image: url('/assets/images/login/language_button_press.png');
        }
        select:hover{
            cursor:pointer;
        }
        select:focus{
            outline:none;
        }
    }
    p{
        font-weight:bold;
        font-size:12px;
        color:#000066;
        padding-top:8px;
    }
}
