*{
	margin:0;
	padding:0;
}
body{
	font-family:arial;
	background-color:#e2e2e2;
}
.container{
	width:100%;
	background-color:#fff;
	.float-left{
		float:left;
	}
}
/************************HEADER**************************/
#header-container{
	height:96px;
	background-color:rgba(12,178,165,.7);
	#header{
    	width:1024px;
    	margin:0 auto;
    	#logo{
        	margin-right:20px;
        	margin-top:20px;
        	float:left;
        	width:114px;
        	height:42px;
        }
        #title{
        	font-size:24px;
        	font-weight:normal;
        	color:#192f6f;
        	margin-right:100px;
        	margin-top:27px;
        	float:left;
        }
        .acc-h2{
        	width:256px;
        	font-size:18px;
        	color:#192f6f;
        	font-weight:normal;
        	margin-top:27px;
        	background-image:url('/assets/images/header/account_drop_triangle_press.png');
			background-size:25px 13px;
			background-repeat:no-repeat;
			background-position:185px 5px;
        }
        .acc-h2:active{
			background-image:url('/assets/images/header/account_drop_triangle_blue.png');
			background-size:25px 13px;
			background-repeat:no-repeat;
			background-position:185px 5px;
		}
        #pending a, #history a{
        	text-decoration:none;
        }
        #history{
        	margin-right:24px;
        }
        .top-icon{
        	width:128px;
        	height:70px;
        	padding-bottom:26px;
        	text-align:center;
        	color:#000;
        }
        .top-icon:active{
        	background-color:#0A8E84;
        }
        #account{
        	width:256px;
        	margin-left:24px;
        }
        #pending, #history span{
        	font-size:14px;
        }
        .click-nav{
        	ul {
        		position:relative;
        		z-index:999999;
        		.clicker {
        			position:relative;
        		}
        	}
        	ul li {
        		position:relative;
        		list-style:none;
        		cursor:pointer;
        		a {
        			transition:background-color 0.2s ease-in-out;
        			-webkit-transition:background-color 0.2s ease-in-out;
               	    -moz-transition:background-color 0.2s ease-in-out;
               	    display:block;
               	    padding:8px 10px 8px 40px;
               	    color:#666;
               	    text-decoration:none;
               	    font-weight:normal;
               	 }
        	}
        	ul li ul {
        		position:absolute;
    			left:40px;
    			width:210px;
        	}
        	.clicker-links{
        		background-color:#fff;
        	}
        	.clicker-links:hover{
        		background-color:#E6E6E6;
        	}
        	.no-js ul {display:none;}
        	.no-js:hover ul {display:block;}
        }
    }
}

/****************FOOTER*********************/
 #footer{
     width:100%;
     height:31px;
     text-align:center;
     background-image:url('/assets/images/login/buttom_line.jpg');
     #language{
         float:left;
         width: 156px;
         height: 31px;
         select {
            font-weight:bold;
            font-size:14px;
            color:#2a4788;
            text-align:center;
            background: transparent;
            width: 156px;
            padding:0px 0px 0px 30px;
            border: none;
            height: 31px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url('/assets/images/login/language_button_normal.png');
         }
         select:active{
            background-image: url('/assets/images/login/language_button_press.png');
         }
         select:hover{
             cursor:pointer;
         }
         select:focus{
             outline:none;
         }
     }
     p{
         font-weight:bold;
         font-size:12px;
         color:#000066;
         padding-top:8px;
     }
 }