#quick-review-menu-holder{
	width:100%;
	height:48px;
	background-color:rgb(42, 71, 136);
	font-size:18px;
	text-shadow:1pt 1pt 0px #000;
	color:#fff;
	#quick-review-nav{
	    width:1024px;
	    margin:0 auto;
	    border-left:solid 1pt #001A4C;
	    height:48px;
        .list{
            padding:13px 10px 7px 10px;
            text-align:center;
            float:left;
            border-right:solid 1pt #001A4C;
            border-left:solid 1pt #6685C2;
        }
        #div1{
        	width:120px;
        	height:28px;
        }
        #div2{
        	width:140px;
        	height:28px;
        }
        #span-hrs{
        	margin-left:35px;
        }
        #div3{
        	background-image:url('/assets/images/quick-review/clock.png');
        	background-repeat:no-repeat;
        	background-position:10px 5px;
        	padding:13px 10px 14px 10px;
        	width:120px;
        }
        #div4{
        	float:left;
        }
        #div5{
        	background-image:url('/assets/images/quick-review/quick_review_icon_quick_review.png');
        	background-repeat:no-repeat;
        	background-position:10px 5px;
        	width:170px;
        	padding:13px 10px 14px 10px;
        }
        #div6{
        	background-image:url('/assets/images/quick-review/sending_icon.png');
        	background-repeat:no-repeat;
        	background-position:center;
        	width:100px;
        	height:28px;
        }
        #div6:hover{
            cursor:pointer;
        }
        #div6:active{
             background-color:#22396D;
        }
        .dropdown{
            border-right:solid 1pt #001A4C;
            border-left:solid 1pt #6685C2;
            dd{
                text-align:center;
                position:relative;
                ul {
                    background:rgb(42, 71, 136) none repeat scroll 0 0;
                    border:none;
                    display:none;
                    left:0px;
                    padding:0px 0px;
                    position:absolute;

                    width:auto;
                    width:258px;
                    list-style:none;
                }
                li{
                    a {
                        padding:10px 0px 10px 0px;
                        display:block;
                        border-bottom:solid 1pt #001A4C;
                        border-top:solid 1pt #6685C2;
                    }
                    a:hover {
                        background-color:#22396D;
                    }
                }
            }
            dt{
                text-align:center;
                a{
                    background:url('/assets/images/quick-review/status_triangle_btn.png') no-repeat scroll right center;
                    background-position:180px 20px;
                    display:block;
                    border:none;
                    width:258px;
                    span {
                        cursor:pointer;
                        display:block;
                        padding:15px;
                        margin-right:65px;
                    }
                }
            }
            ul{
                text-align:center;
            }
            a, a:visited{
                color:#fff;
                text-decoration:none;
                outline:none;
            }
            a:active {
                background-color:#22396D;
            }
            span.value {
                display:none;
            }
            #serious{
                color:red;
                font-size:18px;
            }
            #review{
                color:yellow;
                font-size:18px;
            }
            #stable{
                color:green;
                font-size:18px;
            }
            font{
                margin-right:30px;
            }
        }
    }
}
#graph{
    background-color:#fff;
	min-height:347px;
	max-height:347px;
	overflow-y:scroll;
	overflow-x:hidden;
	width:100%;
}
#graph::-webkit-scrollbar{
    width:26px;
    background: url('/assets/images/quick-review/control_bar_background.png');
}
#graph::-webkit-scrollbar-thumb{
    background: url('/assets/images/quick-review/controlbar_button_normal.png');
    background-repeat:no-repeat;
}
#graph::-webkit-scrollbar-thumb:active{
    background: url('/assets/images/quick-review/controlbar_button_press.png');
    background-repeat:no-repeat;
}
#graph::-webkit-scrollbar-button:decrement {
    background: url('/assets/images/quick-review/scrollbar_button_top_scrollbar_normal.png');
    height:26px;
    background-repeat:no-repeat;
}
#graph::-webkit-scrollbar-button:decrement:active {
    background: url('/assets/images/quick-review/scrollbar_button_top_scrollbar_press.png');
    height:26px;
    background-repeat:no-repeat;
}
#graph::-webkit-scrollbar-button:increment {
    background: url('/assets/images/quick-review/scrollbar_bottom_bottom_normal.png');
    height:26px;
    background-repeat:no-repeat;
}
#graph::-webkit-scrollbar-button:increment:active {
    background: url('/assets/images/quick-review/scrollbar_bottom_bottom_Press.png');
    height:26px;
    background-repeat:no-repeat;
}
#divider{
     background: url('/assets/images/quick-review/quick_review_middle_line.png');
     height:9px;
}
#quick-review-symptoms-holder{
    width:100%;
    height:258px;
    background-color:#e2e2e2;
    margin-top:18px;
    #box1{
        width:600px;
        float:left;
        height:250px;
        margin:0px 47px 0px 55px;
        a{
            text-decoration:none;
        }
        a:hover{
            cursor:pointer;
        }
        ul li{
            display:inline-block;
            list-style:none;
            div{
                width:27px;
            }
        }
        img{
            width:20px;
            margin-right:10px;
            margin-bottom:-5px;
        }
        input[type=number]{
            width:58px;
            padding:5px;
            box-shadow: inset 1px 1px 2px #000;
            border:solid 1pt #B2B2B2;
        }
        #top-list{
            margin:0px 0px 30px 10px;
        }
        .results{
            width:248px;
            padding:19px 19px 15px 20px;
            height:24px;
            margin:0px 10px 5px 0px;
            font-size:18px;
            color:#fff;
            background-image:url('/assets/images/quick-review/doctor_symptoms_button_normal.png');
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            img{
                float:right;
            }
        }
        .results:active{
            background-image:url('/assets/images/quick-review/doctor_symptoms_button_clicked.png');
        }
        .add-result{
            width:248px;
            div{
                margin:0 auto;
            }
        }
    }
    #box2{
    	float:right;
	    margin-right:58px;
    	height:258px;
    	ul li{
        	list-style:none;
        }
        input[type=text]{
        	width:514px;
        	height:37px;
        	font-size:18px;
        	font-weight:bold;
        	font-family:arial;
        	color:#3f3a39;
        	padding:10px;
        	border:none;
        	margin-bottom:15px;
            background-image:url('/assets/images/quick-review/doctor_comment_title_top_normal.png');
        }
        input[type=text]:focus{
        	outline:none;
        	background-image:url('/assets/images/quick-review/doctor_comment_title_top_clicked.png');
        }
        input[type=text]:disabled{
        	background:#fff;
        }
        #textarea{
        	width:514px;
        	background-color:#fff;
        	box-shadow: inset 1pt 1pt 2pt #666;
        	padding:10px 10px 15px 10px;
        	-webkit-border-radius: 5px;
        	-moz-border-radius: 5px;
        	border-radius: 5px;
        	background-image:url('/assets/images/quick-review/doctor_comment_detail_normal.png');
        	background-repeat:no-repeat;
        	label{
            	font-size:14px;
            	font-weight:normal;
            	color:#192f6f;
            	font-weight:bold;
            }
            #add{
                padding:2px 8px 2px 8px;
                background-color:rgba(12,178,165,.7);
                border:solid 1pt rgb(12,178,165);
                margin-left:40px;
            }
            #add:hover{
            	cursor:pointer;
            }
            #add:active{
            	background-color:rgb(12,178,165);
            	outline:none;
            }
            textarea{
                width:500px;
                height:90px;
                font-size:18px;
                font-family:arial;
                border:none;
                margin-bottom:15px;
                font-size:14px;
                font-family:arial;
                color:#3f3a39;
                font-weight:bold;
            }
            textarea:disabled{
                outline:none;
                background:#fff;
            }
            textarea:focus{
                outline:none;
                background:#fff;
            }
        }

        #textarea:focus{
            border:solid 2pt rgb(42, 71, 136);
        }
    }
}