#reset-password-container{
     width:458px;
     height:500px;
     margin:120px 457px 133px 375px;
     text-align:center;
      box-shadow:0px 0px 6px #555555;
     #reset-password-header{
        width:458px;
        height:74px;
        background-color:#2a4788;

        p{
            color:#fff;
            font-size:25px;
            padding:26px 132px 24px 127px;
            text-shadow:1px 1px 0px #55555;
        }
     }
     #reset-password-content{
        width:458px;
        background-color:rgba(12, 178, 165, .70);
        #error2{
            display:none;
        }
        p{
            padding:41px 12px 41px 12px;
            font-weight:bold;
            font-size:18px;
            color: rgb(210,0,0);
        }
        span{
            color:#666;
            font-weight:bold;
            font-size:18px;
        }
        hr{
            width:338px;
            height:1px;
            border:none;
            background-color:#666;
            margin:15px 0px 25px 62px;
        }
        input{
            border:solid 1px #e2e2e2;
            box-shadow:inset 1px 1px 5px #E2E2E2;
            width:222px;
            font-size:18px;
            color:#535353;
            margin:0 auto;
            padding:24px 95px 21px 22px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin-bottom:40px;
        }
        input:focus{
            border:solid 2pt rgb(42, 71, 136);
            box-shadow:inset 0px 0px 0px #fff;
            outline:none;
        }

        button{
            float:left;
            width:229px;
            height:64px;
            font-size:18px;
            font-weight:bold;
            color:#bfecf9;
            text-shadow:1px 1px 0px #555555;
            box-shadow:inset 1px 1px 1px #6685C2;
            border-top:solid 1px #001A4C;
            border-left:solid 1px #001A4C;
            border-bottom:solid 2px #001A4C;
            border-right:solid 2px #001A4C;
            background-color:#2a4788;
        }
        button:hover{
            cursor:pointer;
        }
        button:active{
            background-color:#001A4C;
            box-shadow:inset 0px 0px 0px #6685C2;
            outline:none;
        }
        button:focus{
             outline:none;
        }
    }
}