#message-container{
	width:350px;
	height:250px;
	margin:0 auto;
	text-align:center;
	box-shadow:0px 0px 2px #555;
	#message-header{
    	padding:15px;
    	background-color:rgb(42, 71, 136);
    	span{
        	font-size:18px;
        	color:#fff;
        	text-shadow:1px 1px 0px #555;
        }
    }
    #message-content{
    	padding:20px 40px 20px 40px;
    	height:109px;
    	background-color:rgba(12,178,165,.7);
    	span, label{
        	font-size:18px;
        	color:#555;
        }
    }
    #message-buttons{
    	padding:0;
    	box-shadow:0px 0px 2px #555;
    	button{
        	font-size:18px;
        	color:#fff;
        	text-shadow:1px 1px 0px #555;
        	width:175px;
        	float:left;
        	padding:15px 0px 15px 0px;
        	background-color:rgb(42, 71, 136);
        	border-width:1px;
        	outline:none;
        }
        button:hover{
        	cursor:pointer;
        }
        button:active{
        	background-color:#22396D;
        	outline:none;
        }
    }
}
#clear{
	height:50px;
	width:100%;
}
#message-sent{
	display:none;
	width:280px;
	height:60px;
	margin:0 auto;
	background-color:rgba(12,178,165,.7);
	padding:5px;
	#sent{
    	float:left;
    	padding:20px 15px 20px 15px;
    	border-right:solid 1pt #555;
    	font-size:18px;
        color:#192f6f;
    }
    #next-analysis{
        float:left;
        width:90px;
        padding:12px 15px 5px 15px;
        background-image:url('/assets/images/quick-review/next.png');
        background-repeat:no-repeat;
        background-size:30px 30px;
        background-position:right;
        span, p{
            font-size:18px;
            color:#192f6f;
        }
    }
    #next-analysis:hover{
        cursor:pointer;
        text-decoration:underline;
    }
}

