#send-email-container{
    margin:142px 450px 275px 478px;
    width:352px;
    height:327px;
    background-color:rgba(12, 178, 165, .70);
    box-shadow:0px 0px 6px #555555;
    #send-email-content{
        text-align:center;
        p{
            padding:40px 45px 53px 45px;
            line-height:30px;
            font-size:18px;
            color:#098779;
            font-weight:bold;
        }
        input{
            border:solid 1px #e2e2e2;
            box-shadow:inset 1px 1px 5px #E2E2E2;
            width:274px;
            font-size:18px;
            color:#535353;
            margin:0 auto;
            padding:24px 0px 21px 22px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        input:focus{
            border:solid 2pt rgb(42, 71, 136);
            box-shadow:inset 0px 0px 0px #fff;
            outline:none;
        }
    }
    #send-email-buttons{
        width:352px;
        margin-top:42px;
        button{
            float:left;
            width:176px;
            height:64px;
            font-size:18px;
            font-weight:bold;
            color:#bfecf9;
            text-shadow:1px 1px 0px #555555;
            box-shadow:inset 1px 1px 1px #6685C2;
            border-top:solid 1px #001A4C;
            border-left:solid 1px #001A4C;
            border-bottom:solid 2px #001A4C;
            border-right:solid 2px #001A4C;
            background-color:#2a4788;
        }
        button:hover{
            cursor:pointer;
        }
        button:active{
            background-color:#001A4C;
            box-shadow:inset 0px 0px 0px #6685C2;
            outline:none;
        }
        button:focus{
             outline:none;
        }
    }
}