#success-container{
    width:350px;
    margin:142px 450px 275px 478px;
    text-align:center;
    #success-header{
        height:74px;
        background-color:rgb(42, 71, 136);
        box-shadow:0px 0px 6px #555;
        p{
            color:#fff;
            font-size:25px;
            padding:26px 0px 24px 0px;
            text-shadow:1px 1px 0px #55555;
        }
    }
    #success-content{
        padding:20px 40px 20px 40px;
        background-color:rgba(12,178,165,.8);
        text-align:center;
        box-shadow:0px 0px 6px #555555;
        p{
            color:#fff;
            font-size:18px;
            line-height:30px;
            margin-bottom:15px;
        }
        a{
            font-size:24px;
            color:#0A8E84;
        }
        a:focus{
        	color:rgb(0, 255, 255);
        }
    }
}